/* Common Styles */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
}

section {
    margin-top: 120px;
    margin-bottom: 120px;
}

/* Top Banner Style Start */

#header {
    background: rgba(0, 0, 0, 0.6) url('../images/banner-image.png');
    height: 560px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    border-radius: 10px;
    margin-top: 50px;
}

.header-txt {
    color: #FFF;
    max-width: 650px;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
    padding-top: 160px;
}

.header-greet {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.header-title {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding-top: 15px;
}

/* Top Banner Style End */

/* Discount Start */
.discount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.dis-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.dis-sub-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 45px;
}

.dis-last-title {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.dis-img {
    margin-top: 45px;
}


/* Discount End */

/* Welcome Start */
#welcome {
    background: rgba(0, 0, 0, 0.6) url('../images/Vectorrr.png');
    height: 520px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    border-radius: 10px;
    margin-top: 50px;
}

.welcome-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 0 130px;
}

.welcome-text {
    width: 100%;
    max-width: 700px;
}

.welcome-title {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    margin-top: 50px;
}

.welcome-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.welcome-img {
    max-width: 320px;
    margin-top: 70px;
    padding-right: 50px;
}

.welcome-img img {
    width: 120%;
}

.welcome-button {
    margin-top: 48px;
    margin-left: 32px;
    background-color: #1a1919;
    border: none;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.welcome-button:hover {
    background-color: #FFF;
    color: black;
}

/* Welcome End */

/* Event Style Start */
#event {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    border-radius: 10px;
    margin-top: 50px;
}

.event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 275px;
}


.event-title {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    text-transform: capitalize;
}

.event-heading {
    color: #F00;
}

.event-btn {
    margin-top: 48px;
    background-color: #F00;
    border-radius: 10px;
    padding: 15px 30px;
    border: none;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* Event Style End */

/* Portfolio Styles Start */
.port-sub-title {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.port-title {
    color: #070211;
    font-family: 'Merriweather', serif;
    ;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
}

.port-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    max-width: 900px;
    margin-top: 22px;
}

.port-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.prt-cnt-1 {
    margin-top: 48px;
    margin-bottom: 20px;
}

.port-container div {
    width: 424px;
}

.port-container img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.port-container img:hover {
    transform: scale(1.1);
}

/* Portfolio Styles End */

/* Newsletter Style Start */
#newsletter {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    border-radius: 10px;
    padding: 80px 0;
}

.newsletter-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-title {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 40px;
}

.newsletter-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    max-width: 900px;
    margin-top: 22px;
    text-align: center;
}

#newsletter form {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 48px;
    display: flex;
}

#newsletter form input {
    flex-grow: 1;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.newsletter-btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* Newsletter Style End */

/* Footer Style Start */

#ftr {
    background-color: #070211;
    margin-top: 120px;
}

.top-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

.addrs-right{
    display: flex;
    flex-direction: column;
}

.set-left-width{
    max-width: 400px;
}

.setwidth{
    display: flex;
    gap: 10px;
    padding-right: 140px;
}

.middle-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 48px 0;
}

.bottom-container{
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
    padding-bottom: 120px;
}

footer .address{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.stylehr{
        border: 0;
        height: 0;
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
/* Footer Style End */